{% extends 'base.html' %}

{% block title %} coach {% endblock title %}
{% block header %} Подробная информация о тренере: {{ coach.name }} {% endblock header %}

{% block content %}
    <h1>Имя {{ coach.name }} </h1>
    <p>Телефон {{ coach.phone }}</p>
    <p>Возраст {{ coach.age }}</p>
    <p>Дата рождения {{ coach.date_birth }}</p>
    <p>Контракт <a href="{{ contract.get_absolute_url }}">{{ coach.contract.name }}</a></p>
    <p>Зарплата {{ coach.contract.salary }}</p>
{% endblock content %}